@import url("https://fonts.googleapis.com/css?family=Oswald:500");

.top-bar {
  padding-top:80px;
}
@media only screen and (max-width: 498px) {
	.top-bar {
    padding-top:130px;
  }
}

nav {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.474);
  padding: 16px;
}

nav a {
  font-family: "Pixel", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin: 0 16px;
  font-size: 24.6px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 100%;
  animation: out 0.2s cubic-bezier(0, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
  animation: in 0.2s cubic-bezier(0, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nav a:nth-child(1) {
  animation: show 0.2s 1.1s ease 1 both;
}

nav a:nth-child(2) {
  animation: show 0.2s 1.2s ease 1 both;
}

nav a:nth-child(3) {
  animation: show 0.2s 1.3s ease 1 both;
}

nav a:nth-child(4) {
  animation: show 0.2s 1.4s ease 1 both;
}

nav a:nth-child(5) {
  animation: show 0.2s 1.5s ease 1 both;
}

