<div class="containerComponent">
    <div class="row" >
        <div class="col text-center" >
            <header>
                <h1>Lista de <em>experiencias</em></h1>
            </header>
            <div class="wrapper">
                <div class="gallery">
                    <ul>
                        <li><img src="assets/img/proyectos/salud_opticos.jpg"></li>
                        <li><img src="assets/img/proyectos/tangramBPM.jfif"></li>
                        <li><img src="assets/img/proyectos/AUCORSA.jpg"></li>
                        <li><img src="assets/img/proyectos/PTV.jpg"></li>
                        <li><img src="assets/img/proyectos/APPSUR.jpg"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
