<div class="containerComponent">
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                    ¿Tienes dudas?
                </div>
                <div class="app-contact">También puedes mandar un correo a <a href="mailto:alvaroj.95@gmail.com"> alvaroj.95@gmail.com </a></div>
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <form >

                    <input id="name" class="app-form-control" type="text" formControlName="name" placeholder="NOMBRE">
                    <input id="email" class="app-form-control" type="text" formControlName="email" placeholder="E-MAIL">
                    <input id="asunto" class="app-form-control" type="text" formControlName="asunto" placeholder="Asunto">
                    <textarea id="mensaje" class="app-form-control" formControlName="mensaje" placeholder="MENSAJE"></textarea>
                    
                    <input type="submit" value="Enviar">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
</div>